.nav-bar {

    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
    /* background-image: linear-gradient(180deg,#111,rgba(37,37,37,0.61),transparent); */
    z-index: 2;
    transition: 0.3s;

}

.change-colour { 

    /* background-image: linear-gradient(180deg,#111,rgba(37,37,37,0.61),transparent); */
    background-color: #111;
    transition: 0.3s;

}

.netflix-logo {

    position: fixed;
    left: 20px;
    width: 80px;
    top: 25px;

}

.netflix-N-logo {

    position: fixed;
    left: 20px;
    width: 35px;
    top: 19px;
    z-index: 1;

}

.left-lists {

    position: fixed;
    top: 27px;
    left: 130px;

}

.menu {

    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;

}

.menu li {

    margin: 0 10px;
    position: relative;
    font-size: 12px;

}

.menu li:hover { cursor: pointer; }

.right-lists {

    position: fixed;
    top: 27px;
    right: 90px;

}

.search {

    position: fixed;
    top: 20px;
    right: 193px;
    display: flex;
    align-items: center;
    background-color: #232B2B;
    border-radius: 5px;

}

.search input , .responsive-search input {

    height: 33px;
    width: 180px;
    padding-left: 10px;
    outline: none;
    border: none;
    background: none;
    color: white;

}

.search input::placeholder , .responsive-search input::placeholder { color: white; }

.search i , .responsive-search i { padding-right: 5px; }
.search i:hover , .responsive-search i:hover { cursor: pointer; }

#notification {

    position: fixed;
    top: 28px;
    right: 68px;

}

.netflix-avatar {

    position: fixed;
    right: 20px;
    width: 30px;
    top: 20px;

}

.responsive-menu {

    display: flex;
    position: absolute;
    top: 0;
    left: 0px;
    flex-direction: column;
    height: 100vh;
    width: 200px;
    background-color: #111;

}

.not-responsive-menu { display: none; }

.responsive-left-lists {

    position: absolute;
    top: 90px;
    z-index: 1;

}

.responsive-left-menu {

    list-style: none;
    margin-left: 20px;
    margin-top: 90px;

}

.responsive-left-menu li {

    padding-bottom: 10px;

}

.responsive-right-lists {

    display: inline-flex;
    position: absolute;
    top: 208px;
    left: 20px;
    z-index: 1;

}

.responsive-right-menu {

    list-style: none;
    margin-left: 20px;
    margin-top: 140px;

}

.responsive-right-menu li {

    padding-bottom: 10px;

}

.responsive-search {

    position: absolute;
    top: 20.5px;
    right: 140px;
    display: flex;
    align-items: center;
    background-color: #232B2B;
    border-radius: 5px;

}

.responsive-search input { 

    width: 130px;
    height: 28px;

}

.null { display: none; }