.row-post {

    margin-left: 8px;
    color: #fff;

}

.category-title { font-size: medium; }

.posters {

    display: flex;
    padding: 8px;
    overflow-x: scroll;
    overflow-y: hidden;

}

.poster {

    max-height: 250px;
    margin-right: 10px;

}

.posters::-webkit-scrollbar { display: none; }

.upper-fade {

    height: 45px;
    width: 100%;
    position: absolute;
    margin-top: -8px;
    margin-left: -16px;
    background-image: linear-gradient(180deg,#111,rgba(37,37,37,0.61),transparent);
    z-index: 1;

}

.lower-fade {

    height: 45px;
    width: 100%;
    position: absolute;
    margin-left: -16px;
    margin-top: 213px;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,0.61),#111);

}

.responsive-lower-fade {

    height: 45px;
    width: 100%;
    position: absolute;
    margin-left: -16px;
    margin-top: 143px;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,0.61),#111);

}

.small-poster {

    max-height: 180px;
    margin-right: 10px;

}

.poster:hover , .small-poster:hover {

    transform: scale(1.2);
    transition: 0.3s;

}

.poster:not(:hover) , .small-poster:not(:hover) {transition: 0.3s;}
