.row-post {

    margin-left: 8px;
    color: #fff;

}

.category-title { font-size: medium; }
.original-category-title{ font-size: x-large; }

.posters {

    display: flex;
    padding: 8px;
    overflow-x: scroll;
    overflow-y: hidden;

}

.poster , .original-poster {

    max-height: 250px;
    margin-right: 10px;

}

.original-poster { max-height: 275px; }

.posters::-webkit-scrollbar { display: none; }

.upper-fade , .responsive-upper-fade {

    height: 45px;
    width: 100%;
    position: absolute;
    margin-top: -8px;
    margin-left: -16px;
    background-image: linear-gradient(180deg,#111,rgba(37,37,37,0.61),transparent);
    z-index: 1;

}

.responsive-upper-fade { margin-top: -10px; }

.lower-fade , .original-lower-fade {

    height: 45px;
    width: 100%;
    position: absolute;
    margin-left: -16px;
    margin-top: 213px;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,0.61),#111);

}

.original-lower-fade { margin-top: 238px; }

.responsive-lower-fade {

    height: 45px;
    width: 100%;
    position: absolute;
    margin-left: -16px;
    margin-top: 144px;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,0.61),#111);

}

.small-poster {

    max-height: 180px;
    margin-right: 10px;

}

.poster:hover , .small-poster:hover , .original-poster:hover {

    transform: scale(1.2);
    transition: 0.3s;

}

.poster:not(:hover) , .small-poster:not(:hover) , .original-poster:not(:hover) {transition: 0.3s;}

#yt-videos { padding-left: 10px; }

#play-yt-videos {

    display: flex;
    padding: 8px;
    overflow-x: scroll;
    overflow-y: hidden;
}

#one-yt-videos { padding: 8px; }
#one-yt-videos #yt-videos { padding: 0; }

#play-yt-videos::-webkit-scrollbar { display: none; }
