.banner {

    height: 550px;
    background-image: url(https://wallpaperaccess.com/full/2703652.png);
    background-size: cover;
    /* background-color: white; */

}

.contents {

    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 200px;
    left: 140px;
    color: white;
    border: 0;
    filter: drop-shadow(0px 0px 30px #111);

}

.movie-title{

    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;

}

.buttons {

    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
    cursor: pointer;
    margin-right: 1rem;

}

.buttons:hover {

    color: black;
    background-color: #e6e6e6;
    transition: 0.3s;

}

.buttons:not(:hover) { transition: 0.3s; }

.description {

    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1rem;
    height: 80px;
    max-width: 415px;

}

.fade-bottom {

    height: 5rem;
    position: relative;
    top: 470px;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,0.61),#111);

}

/* MAKING RESPONSIVE */

.responsive-description {

    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.7rem;
    height: 80px;
    max-width: 200px;
    padding-top: 10px;
}

.responsive-contents {

    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 240px;
    left: 50px;
    color: white;
    border: 0;
    filter: drop-shadow(0px 0px 30px #111);

}

.responsive-movie-title {

    font-size: 2.3rem;
    font-weight: 800;

}

.responsive-buttons {

    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    width: 70px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
    cursor: pointer;
    margin-right: 1rem;

}

.responsive-buttons:hover {

    color: black;
    background-color: #e6e6e6;
    transition: 0.3s;

}

.responsive-buttons:not(:hover) { transition: 0.3s; }